IPv6 address text representation bug

[The IPv6 chapter](https://github.com/aaaaalbert/ebook/blame/master/protocols/ipv6.rst#L127) lists `2001:0db8::cd30:0:0:0:0` as one possible representation of `2001:0db8:0000:cd30:0000:0000:0000:0000`. These examples appear to be taken from [RFC 4291 §2.3](https://datatracker.ietf.org/doc/html/rfc4291#section-2.3).

In my reading of [RFC 5962 §4.2.3](https://datatracker.ietf.org/doc/html/rfc5952#section-4.2.3), such use of `::` is *not* allowed:

```
4.2.3.  Choice in Placement of "::"

   When there is an alternative choice in the placement of a "::", the
   longest run of consecutive 16-bit 0 fields MUST be shortened
(...)
```

(Note however the possible contradiction between RFC 4291, [some of its rejected (!?) errata](https://www.rfc-editor.org/errata_search.php?rfc=4291), and RFC 5962).

In the CNP example, the single block of zeros is clearly shorter than the four blocks of zeroes to the right.

----

For the record, [RFC 4291 §2.3](https://datatracker.ietf.org/doc/html/rfc4291#section-2.3) also indicates that `::` generally cannot be a meaningful part of a subnet address because the expansion of the compressed zeros block fills the full 128 bit of the address space again:

```
   The following are NOT legal representations of the above prefix:
(...)
      2001:0DB8::CD30/60   address to left of "/" expands to
                         2001:0DB8:0000:0000:0000:0000:0000:CD30
```