Typos & wording, formatting issues, updates to references

# Updates to references
- [ ] IPv6's original [RFC 2460](https://www.rfc-editor.org/rfc/rfc2460.html) has been **obsoleted** by RFC 8200 which also lists the [changes and errata addressed](https://www.rfc-editor.org/rfc/rfc8200#appendix-B) since RFC 2460. Foremost relevant for the [IPv6 chapter](https://github.com/cnp3/ebook/blob/master/protocols/ipv6.rst), but search in other chapters too!
- [ ]  TCP's original [RFC 793](https://www.rfc-editor.org/rfc/rfc793.html)  has been **obsoleted**  by [RFC 9293](https://www.rfc-editor.org/rfc/rfc9293.html)

# Formatting
(Remember to test fixes by compiling before submitting a PR!)
- [ ] typewriter font for the Magic string in https://github.com/aaaaalbert/ebook/blame/master/protocols/http2.rst#L260
- [ ] typewriter font for `fe80::/10` and possibly other addresses / prefixes [here](https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L241), [here (where it's also upper-case!?)](https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L773)
- [ ] Probably an indentation mistake that sets up rendering for [ICMPv6](https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L544)
- [ ] Some of the Tikz figures are missing captions and numbering although I cannot spot the reason right now. Examples: [here](https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L267-L286), [here](https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L561-L575), [here](https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L664-L674)

 # Typos and wording
- [ ] add "in" or brackets in https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L241
- [ ] ["In this optional header, the `Next Header` field is used to support the chain of headers."]
(https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L378) should be clarified. `Next header` is used in exactly the same way in the main and optional IPv6 headers.
- [ ] ["bind"](https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L505) should read "bound" or "limit" or something
- [ ] The footnote with "For simplicity, assume" that brushes off EUI-64 vs the "Note" showing exactly how the process works, [here](https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L662)
- [ ] Uppercase hex digits [here](https://github.com/cnp3/ebook/blame/master/protocols/ipv6.rst#L805)
- [ ] "composed on" should read "composed of" [here](https://github.com/cnp3/ebook/blame/master/protocols/routing.rst#L7)